

<div class="row">
  <div class="col-sm-6" *ngFor="let wd of data; index as i">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ wd.CityName }}{{ wd.iconUrl }}</h5>
        <img src="{{ wd.IconUrl }}"><span class="card-text">{{wd.TemperatureRounded}}&deg;, {{ wd.Description }}</span>
        <p>Humidity: {{ wd.Humidity }}&#37;</p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="hottest"> 
  <p class="alert alert-success lead text-center">{{ hottest === 'Both' ? 'Both locations are the same temperature.' : hottest + ' is the hotter of the locations.' }}</p>
</div>